DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/gemini_api_proxy
TEST_DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/test_gemini_api_proxy
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
PAYLOAD_SIZE_LIMIT=10485760 # Payload size limit in bytes. Defaults to 10MB (10 * 1024 * 1024 = 10485760)

